<div class="section" id="projects">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Projects</div>
    <div class="row">
      
      <!-- Lost in Peril -->
      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
          <div class="card" >
            <img class="card-img-top" src="assets/images/p11.PNG" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">Lost in Peril - Video game for Andorid / Desktop</h4>
              <h5 class="card-text"><b>Technology :</b> Java, Kotlin, Gradle, LibGDX, Android Studio, Mockito, JUnit</h5>
              <h5 class="card-text"><a href="https://play.google.com/store/apps/details?id=com.freebandz.lost_in_peril">View on Google Play</a></h5>
              <a href="https://github.com/timmay54/lost_in_peril" class="btn btn-primary stretched-link">Github Link</a>
            </div>
          </div>
        </div>
      </div>

      <!-- First-HTML-Project -->
      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
          <div class="card" >
            <img class="card-img-top"src="assets/images/p2.png" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">Personal Portfolio Website</h4>
              <h5 class="card-text"><b>Technology :</b> Angular 8, TypeScript, GitHub Pages</h5>
              <a href="https://github.com/timmay54/First-HTML-Project" class="btn btn-primary stretched-link">Github Link</a>
            </div>
          </div>
        </div>
      </div>

      <!--Portfolio Springboot Backend -->
      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
          <div class="card" >
            <img class="card-img-top"src="assets/images/p2.png" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">Personal Portfolio Website's Backend</h4>
              <h5 class="card-text"><b>Technology :</b> Springboot, Traefik, Docker, Java</h5>
              <a href="https://github.com/timmay54/portfolio-backend" class="btn btn-primary stretched-link">Github Link</a>
            </div>
          </div>
        </div>
      </div>

      <!--Covid-Simulation-->
      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
          <div class="card" >
            <img class="card-img-top" src="assets/images/p6.png" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">Covid19 Spreading Simulation</h4>
              <h5 class="card-text"><b>Technology :</b> Mesa Simulation Framework, Tornado, Python, Traefik, InfluxDB & Grafan </h5>
              <a>(not live yet)</a>
              <!--a href="https://github.com/timmay54" class="btn btn-primary stretched-link">Github Link</a> -->
            </div>
          </div>
        </div>
      </div>

      <!-- Initial Scripts -->
      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
          <div class="card" >
            <img class="card-img-top" src="assets/images/p3.png" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">Initial Scripts: Get your VM prepped for action</h4>
              <h5 class="card-text"><b>Technology :</b> Powershell, Bash, Chocolatey,  </h5>
              <a href="https://github.com/timmay54/initialScripts" class="btn btn-primary stretched-link">Github Link</a>
            </div>
          </div>
        </div>
      </div>

      <!-- Docker Netbeans -->
      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
          <div class="card" >
            <img class="card-img-top" src="assets/images/p5.png" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">Dockerized Netbeans: run JDK & Netbeans in a container</h4>
              <h5 class="card-text"><b>Technology :</b>Docker, vcxsrv, Java, Netbeans</h5>
              <h5 class="card-text"><a href="https://medium.com/@mehulkothari05/smart-baby-stroller-system-3f6b4f49476a"> Find on DockerHub  Project</a></h5>
              <a href="https://dev.to/darksmile92/run-gui-app-in-linux-docker-container-on-windows-host-4kde">See theory</a>
              <a href="https://github.com/timmay54/docker-netbeans" class="btn btn-primary stretched-link">GithubLink</a>
            </div>
          </div>
        </div>
      </div>

      <!-- Show Vote -->
      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
          <div class="card" >
            <img class="card-img-top" src="assets/images/p6.png" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">Show Vote: Practice Livestock Evalution</h4>
              <h5 class="card-text"><b>Technology :</b> Angular, SpringBoot, Java, JHipster, MySQL </h5>
              <a href="https://timmay54.github.io/First-HTML-Project">See Project (not live yet)</a>
              <a href="https://github.com/dmcmeekan9/ShowVote" class="btn btn-primary stretched-link">Github Link</a>
            </div>
          </div>
        </div>
      </div>

      <!-- Port Scanner -->
      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
          <div class="card" >
            <img class="card-img-top" src="assets/images/p8.png" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">Port Scanner</h4>
              <h5 class="card-text"><b>Technology :</b> Python </h5>
              <a href="https://github.com/timmay54/PortScanner" class="btn btn-primary stretched-link">Github Link</a>
            </div>
          </div>
        </div>
      </div>

      <!-- timmay54.github.io -->
      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
          <div class="card" >
            <img class="card-img-top" src="assets/images/p9.png" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">Personal Domain thorugh GitHub Pages</h4>
              <h5 class="card-text"><b>Technology :</b> HTML, CSS, JS, GitHub Pages </h5>
              <a href="https://timmay54.github.io" class="btn btn-primary stretched-link ml-2 mr-5">See Project</a>
              <a href="https://github.com/timmay54/timmay54.github.io" class="btn btn-primary stretched-link">Github Link</a>
            </div>
          </div>
        </div>
      </div>

      <!-- ***** Future Projects go down here!! *****-->
    </div>
  </div>
</div>