<div class="profile-page">
  <div class="wrapper">
    <div class="page-header page-header-small" filter-color="blue">
      <div class="page-header-image" data-parallax="true" style="background-image: url('assets/images/background-ga.jpg');">
      </div>
      <div class="container">
        <div class="content-center">
          <div class="cc-profile-image">
            <a href="#">
              <img src="assets/images/profile.png" alt="Image" />
            </a>
          </div>
          <div class="h2 title">Timothy Gerald Mardesen</div>
          <p class="category text-white">Ethical Hacker, Rapper, Software Developer, Farmer</p>
          <a class="btn btn-primary smooth-scroll mr-2" href="#contact" data-aos="zoom-in"
            data-aos-anchor="data-aos-anchor">Hire Me</a>
          <a class="btn btn-primary"
            href="../../assets/images/Tim_Resume_May_2020.pdf" target="_blank"
            data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Download CV</a>
        </div>
      </div>
      <div class="section">
        <div class="container">
          <div class="button-container">
            <a class="btn btn-default btn-round btn-lg btn-icon" href="https://www.facebook.com/tim.mardesen"
              target="_blank" rel="tooltip" title="Follow me on Facebook">
              <i class="fab fa-facebook"></i>
            </a>
            <a class="btn btn-default btn-round btn-lg btn-icon" href="https://www.linkedin.com/in/timothy-mardesen/"
              target="_blank" rel="tooltip" title="Follow me on LinkedIn">
              <i class="fab fa-linkedin"></i>
            </a>
            <a class="btn btn-default btn-round btn-lg btn-icon" href="https://github.com/timmay54"
              target="_blank" rel="tooltip" title="Follow me on Github">
              <i class="fab fa-github fa-2x"></i>
            </a>
            <a class="btn btn-default btn-round btn-lg btn-icon" href="https://hub.docker.com/u/timmay545"
              target="_blank" rel="tooltip" title="Follow me on DockerHub">
              <i class="fab fa-docker fa-2x"></i>
            </a>
            <a class="btn btn-default btn-round btn-lg btn-icon" href="#" target="_blank" rel="tooltip" title="Follow me on Google+">
              <i class="fab fa-google-plus"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
